#course_tile{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fff;
  }


  


